.fancybox-wrapper
{
  float: right;
  margin-left: 15px;
  text-align: center;
}

.fancybox 
{
  text-decoration:none;
  outline:none;
}

.fancybox img
{
  outline:none;
  border:0;
  
  max-width: 175px;
  max-height: 175px;
  
  box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
}